<%- include("./parcials/header") %>
<div class="relative w-full h-[100vh] bg-[#F3F7EC] relative flex md:justify-end items-end">
    <%- include("./nav") %>
<% 
    let totalStock = 0;

    tyres.forEach((T) => {
        totalStock += T.stock;
    });

   let totalconst = costm.length; 
   let totalsale = 0;

   costm.forEach((C)=>{
       C.purchaseHistory.forEach((Q)=>{ 
         totalsale += Q.quantity 
        })
    })
    %>
    <div class="relative md:w-[89vw] w-full h-[90vh] p-2 bg-[#e8eddf] py-2 shadow-md rounded-xl flex flex-col overflow-scroll  gap-3">
        <h1 class=" text-3xl w-full rounded-lg md:w-[87vw]  glass font-semibold text-center bg-[#e8eddf] p-2">HOME</h1>

<div class=" w-full h-[93%] flex flex-col md:flex-row gap-3 " >

    <!-- stock -->
 
  <a href="/tyreStoke" class=" w-full md:w-1/2 h-[40vh] md:h-[100%] drop-shadow-xl overflow-hidden rounded-[20px] bg-[#ffffff42]">
    <div class="absolute flex flex-col items-start justify-between p-6 text-white z-[1] glass bg-zinc-300 opacity-90 rounded-xl inset-0.5 "> 
    
    
      <h3 class="capitalize text-3xl text-gray-500">Totalstock:</h3>
      
      <h1 class="text-[8vmax] md:text-[12vmax] text-gray-700 font-semibold font-mono  "><%= totalStock %><span class=" text-3xl text-gray-500">.units</span> </h1>
      <h3 class="capitalize text-3xl text-gray-500">Totalsale:</h3>
  <h1 class="text-[8vmax] md:text-[12vmax] text-gray-700 font-semibold font-mono "><%= totalsale %><span class=" text-3xl text-gray-500">.units Sale</span>
  </h1>
     
  <div class="w-full px-2 pb-2 flex items-center justify-end"><img class="w-[15vw] md:w-[8vw]" src="https://img.icons8.com/laces/64/47515E/arrow.png" alt="arrow"/></div>
    
  </div>
  
</a>
      
    <!-- stock -->
    

<div class=" w-full md:w-1/2 h-[33vh] md:h-[100%] flex md:flex-col ">
  
  <div class=" w-1/2 md:w-full h-[100%] md:h-[50%] flex gap-3 flex-col p-1 md:flex-row  " >
    <div class="relative flex items-center justify-center w-full md:w-1/2 h-[50%] md:h-[100%] bg-zinc-200  overflow-hidden rounded-[20px] card1" >

      <div class="absolute w-full h-[100%]  flex  items-center justify-center p-4 z-10 opacity-90  rounded-[20px] inset-0.5  ">
       <div class=" w-[100%] h-[100%] flex flex-col p-1 md:p-4   items-start justify-between ">
         <h3 class="capitalize text-sm md:text-3xl text-gray-500">Total happy customer:</h3>
        <h1 class="text-[8vmax] md:text-[12vmax]  text-gray-700 font-semibold font-mono self-center "><%= totalconst %></h1>
       

</div>
      </div>
    </div>
    <div class="relative flex items-center justify-center w-full md:w-1/2 h-[50%] md:h-[100%] bg-zinc-200 overflow-hidden rounded-[20px] card2" >

      <div class="absolute flex flex-col items-center p-4 z-10 opacity-90  rounded-[20px] inset-0.5  ">
        <h3 class="capitalize self-start md:p-4 p-1 text-sm md:text-3xl text-gray-500"> available:</h3>
        
       
          <div id="hello" class="overflow-scroll p-0 md:p-2 "> 
            <% tyres.forEach((B)=>{ %>
              <%
              let doo = "block"
               if (B.stock < 1) {
                doo = 'hidden';
              } %>
       <p class="text-sm md:text-2xl <%= doo %> text-gray-700 "> <%= B.model %> - <%= B.size %></p>
       <%})%>
  
          </div>
      
      </div>
    </div>
  </div>
  
  <div class="relative flex items-center justify-center w-1/2 md:w-full  h-[100%] md:h-[50%] bg-[#fff90] overflow-hidden rounded-[20px] card">
    
  
      <div class="absolute flex flex-col items-center p-4 z-10 opacity-90  rounded-[20px] inset-0.5  ">
        <h1 class=" text-2xl md:text-6xl text-red-500 p-2 font-semibold  flex items-center gap-1 md:gap-3 " > <span><img class="md:w-[3rem] md:h-[3rem] w-[1.5rem] h-[1.5rem]" src="https://img.icons8.com/pastel-glyph/64/FB2B2B/error--v3.png" alt="error--v3"/></span> Low Stock</h1>
       <div id="hello" class="overflow-scroll"> 
        <% 
        let stockClass = 'text-gray-800'; 
        %>
        <% tyres.forEach((T) => { %>
          <%if(T.stock < 20){%>
            <% if (T.stock < 5) {
              stockClass = 'text-red-500';
            } %>
        <p class="text-lg md:text-4xl text-gray-700 "><%= T.model %> - <span class="<%= stockClass%>" ><%= T.stock %></span>.unit </p>
       
        <% } %>
        <% }); %></div>
      
    </div>
    
        
          
        
      </div>

</div>
      
</div>

</div>
</div>


<%- include("./parcials/footer") %>