<%- include("./parcials/header") %>
<div class="relative w-full h-[100vh] bg-[#F3F7EC] relative flex md:justify-end items-end">
    <%- include("./nav") %>

    <div id="hello" class="relative md:w-[89vw] w-full h-[90vh] p-4 pt-16 bg-[#e8eddf] py-10 shadow-md rounded-xl flex flex-col overflow-scroll  gap-3">
        <h1 class="fixed text-3xl w-full rounded-lg md:w-[87vw] h-16 glass font-semibold text-center bg-[#e8eddf] top-[10%] z-50 p-4">HOME</h1>

        <div
  class="relative w-full md:w-1/2 md:h-screen drop-shadow-xl w-48 h-64 overflow-hidden rounded-xl bg-[#ffffff42]"
>
  <div
    class="absolute flex flex-col items-start justify-start p-6 text-white z-[1] glass bg-zinc-300 opacity-90 rounded-xl inset-0.5 bg-"
  > 
  <% 
  let totalStock = 0;
  tyres.forEach((T) => {
      totalStock += T.stock;
  }); 
  %> 
    <h3 class="capitalize text-3xl text-gray-500">Totalstock:</h3>
    <h1 class="text-[10vmax] text-gray-700 font-semibold font-mono  "><%= totalStock %></h1>

    <div>
        <% tyres.forEach((T) => { %>
            <%if(T.stock < 20){%>
<p><%= T.model %> - <%= T.stock %></p>
<% } %>
  <% }); %>
    </div>
  </div>
  <div class="absolute w-56 h-48 bg-white blur-[50px] -left-1/2 -top-1/2"></div>
</div>


       



    </div>

</div>


<%- include("./parcials/footer") %>