<%- include("./parcials/header") %>

<div class="w-full h-[100vh] bg-[#F3F7EC]">
  <%- include("./nav") %>

<form 
class="px-7 py-7 h-screen grid justify-center items-center"
action="/tyres/update-customer-form/<%= customer._id %>"
method="post"
>
<h1 class="text-3xl ">Update Customer</h1>
    <div class="grid gap-6" >
      <h2>Customer Details</h2>
      <div class="w-full flex gap-3">
        <input 
        class="capitalize shadow-2xl p-3  w-full outline-none focus:border-solid focus:border-[1px] border-[#035ec5] placeholder:text-black"
         type="text"
         placeholder="First Name" 
         name="firstName" 
         value="<%= customer.firstName %>"
         >
        <input 
        class="p-3 capitalize shadow-2xl  glass w-full placeholder:text-black outline-none focus:border-solid focus:border-[1px] border-[#035ec5]" 
        type="text" 
        placeholder="Last Name" 
        name="lastName"
        value="<%= customer.lastName %>"
        >
      </div>
      <div class="grid gap-6 w-full">
        <input 
        class="p-3 shadow-2xl  glass w-full placeholder:text-black outline-none focus:border-solid border-[#035ec5] focus:border-[1px]" 
        type="text" 
        placeholder="Email" 
        name="email"
        value="<%= customer.email %>"
        >
        <input 
        class="p-3 shadow-2xl   glass w-full text-black placeholder:text-black outline-none focus:border-solid focus:border-[1px]border-[#035ec5]" 
        type="text" 
         name="phone"
        placeholder="Phone Number"
        value="<%= customer.phone %>"
       >
       <h2>Address</h2>
       <input 
       class="p-3 shadow-2xl   glass w-full text-black placeholder:text-black outline-none focus:border-solid focus:border-[1px]border-[#035ec5]" 
       type="text" 
       name="street" 
       placeholder="Street"
       value="<%= customer.street %>"
      >
      <input 
      class="p-3 shadow-2xl   glass w-full text-black placeholder:text-black outline-none focus:border-solid focus:border-[1px]border-[#035ec5]" 
      type="text" 
      name="city"
     placeholder="City"
     value="<%= customer.city %>"
     >
     <div class="w-full flex gap-3">
     <input 
     class="p-3 shadow-2xl   glass w-full text-black placeholder:text-black outline-none focus:border-solid focus:border-[1px]border-[#035ec5]" 
     type="text" 
     name="state" 
     placeholder="State"
     value="<%= customer.state %>"
    >
    <input 
    class="p-3 shadow-2xl   glass w-full text-black placeholder:text-black outline-none focus:border-solid focus:border-[1px]border-[#035ec5]" 
    type="text" 
    name="zip"
     placeholder="ZIP"
     value="<%= customer.zip %>"
   >
  </div>
   
  
      </div>



      <h2>Tyre</h2>
      
      <div class="w-full flex gap-3">
        <input 
        class="p-3 shadow-2xl   glass w-full text-black placeholder:text-black outline-none focus:border-solid focus:border-[1px]border-[#035ec5]" 
        type="number" 
        name="quantity"
       placeholder="quantity"
       value="<%= quantity  %>"
       >
       
       <select name="tyermodel" id="tyermodel" class="p-3 shadow-2xl   glass w-full text-black placeholder:text-black outline-none focus:border-solid focus:border-[1px]border-[#035ec5]" 
       >
       <option value="<%= MOD.model %>">Model <%= MOD.model %></option>
       <% Tall.forEach((TT)=>{%>
        
        <option value="<%= TT.model %>">Model <%= TT.model %></option>
        <%})%>
    
     </select>
    
     </div>
     
     
      <button 
      class="outline-none glass shadow-2xl  w-full p-3  bg-[#ffffff42] hover:border-[#035ec5] hover:border-solid hover:border-[1px]  hover:text-[#035ec5] font-bold" 
     >
     Update Customer
    </button>
    </div>

  </form>

</div>

<%- include("./parcials/footer") %>  
 
